.header {
  height: 6vh;
  background-color: #400d40;
  color: white;
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px;
  width: 40px;
  margin: 0;
}

.header_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  flex: 0 0 15%;
  padding: 0 15px;
}
.header_auth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
  flex: 0 0 15%;
  padding: 0 15px;
}
.btn {
  width: 100px;
  height: 30px;
  margin: 15px 0;
  outline: none;
  background-color: #400d40;
  color: white;
  border: none;
}

.btn:hover {
  background-color: #583058;
}
.btn:active {
  background-color: #583058;
}
